*{
    margin:0;
    padding:0;
}
html body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: #001e4d;
}
.app{
    background-color: #fff;
    width: 300px;
    /* height: 400px; */
    margin-left: 35vw;
    margin-top: 8vw;
    padding: 15px;
    border-radius: 20px;
}
.app h1{
    font-size: 30px;
   color:#4882f5;
   font-weight: 700;
   border-bottom: 1px solid #333;
   padding-bottom:25px ;
}
.quiz{
    padding:20px 0;
}
.quiz h2{
    font-size:18px;
    color:#001e4d;
    font-weight: 600;
}
.btn{
    background-color: #fff;
    color:#222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.35s;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor:no-drop;
}
#next-btn{
    background: #001e4d;
    color:#fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
    display:block;
}
.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}